body 
{
  
  background-color: rgb(245, 216, 252);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}
h1
{
  font-size: 1.55em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}
nav
{
  font-size: 1.4em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
p, a
{
  font-size: 1.50em;
  line-height: 2m;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}
img 
{
  float: center;
}
h1 
{
  background-color: rgb(245, 216, 252);
  color: rgb(0, 0, 0);
  
  font-size: 1.55em;
  
  position: sticky;
  top: 0px;
  left: 0px;
}