body 
{
  
  background-color: rgb(246, 204, 255);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}
h1
{
  font-size: 2.5em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}
nav
{
  font-size: 1.8em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
figcaption 
{
  font-size: 1.25em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
figure 
{
  width: 30%;
  float: left;
  
  margin-top: 0px;
  margin-left: 2px;
}
figure img 
{
  background-color: lightblue;
  width: 100%;
}
figcaption 
{
  text-align: center
}
{
  margin: 0px;
  padding: 0px;
  
  line-height: 1.5em;
}
h1 
{
  background-color: rgb(246, 204, 255);
  color: rgb(0, 0, 0);
  
  font-size: 2.5em;
  
  position: sticky;
  top: 0px;
  left: 0px;
}