body 
{
  
  background-color: rgb(246, 204, 255);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}
h1
{
  font-size: 0em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}
nav
{
  font-size: 1em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}