/*Ana Joana Agostinho Foria 3210186
Escola Superior de Artes e Design/Politécnico de Leiria
3º ano DGM
2023-2024/ 2º Semestre
Laboratório de Projeto II
Professor Marco Heleno*/

/*Mudança da cor do fundo*/
body 
{
  
  background-color: rgb(245, 216, 252);
}

/*Mudar o tamanho e o espaçamento das letras*/
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/* Mudar o tamanho e o espaçamento do Título 1*/
h1 
{
  font-size: 2.1em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/*Mudar o tamanho o espaçamento e a orientação do texto da nav*/
nav
{
  font-size: 1.8em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}

/* Mudar o tamanho e o espaçamento do parágrafo*/
p
{
  font-size: 1.5em;
  line-height: 2em;
  
  word-spacing: 0.09em;
  text-align: center;
}

/* Mudar o tamanho o espaçamento as margens e a orientação da lista*/
ul, li
{
  font-size: 1em;
  line-height: 3em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: left;
}