body 
{
  
  background-color: rgb(246, 204, 255);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}

h1 
{
  font-size: 2.1em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}
nav
{
  font-size: 1.8em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
p
{
  font-size: 1.5em;
  line-height: 2em;
  
  word-spacing: 0.09em;
  text-align: center;
}

ul, li
{
  font-size: 1em;
  line-height: 3em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: left;
}