body 
{
  
  background-color: rgb(245, 216, 252);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}
h1
{
  font-size: 2.5em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}
nav
{
  font-size: 1.8em;
  line-height: 1.8em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
h2
{
  font-size: 2em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}
figcaption 
{
  font-size: 1.25em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
figure 
{
  width: 20%;
  float: left;
  
  margin-top: 0px;
  margin-left: 2px;
}
figure img 
{
  background-color: lightblue;
  width: 100%;
}
figcaption 
{
  text-align: center
}
{
  margin: 0px;
  padding: 0px;
  
  line-height: 1.5em;
}
video
{
    width: 15%;
    height: 20%;
}