/*Ana Joana Agostinho Foria 3210186
Escola Superior de Artes e Design/Politécnico de Leiria
3º ano DGM
2023-2024/ 2º Semestre
Laboratório de Projeto II
Professor Marco Heleno*/

/*Mudança da cor do fundo*/
body 
{
  
  background-color: rgb(245, 216, 252);
}

/*Mudar o tamanho e o espaçamento das letras*/
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/* Mudar o tamanho e o espaçamento do Título 1*/
h1 
{
  font-size: 3em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/*Mudar o tamanho o espaçamento e a orientação do texto da nav*/
nav
{
  font-size: 1em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}

/* Mudar o tamanho e o espaçamento do parágrafo e das hiperligações*/
p, a 
{
  font-size: 1.30em;
  line-height: 1.5em;
  
  word-spacing: 0.09em;
  text-align: left;
}
p, a 
{
  font-size: 1.30em;
  line-height: 1.25em;
  
  word-spacing: 0.09em;
  text-align: left;
}

/* Mudar o tamanho e o espaçamento do Título 3*/
h3
{
  font-size: 2em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}

/* Mudar o tamanho e o espaçamento do Título 2*/
h2
{
  font-size: 2em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}

/* Mudar o tamanho e o espaçamento das hiperligações*/
a
{
  font-size: 2em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}

/*Redimensionar o tamanho o espaçamento das imagens e das respetivas legendas*/
figcaption 
{
  font-size: 1.25em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
figure 
{
  width: 30%;
  
  float: left;
  
  margin-top: 0px;
  margin-left: 0px;
}
figure img 
{
  background-color: lightblue;
  width: 100%;
}
figcaption 
{
  text-align: center
}
{
  margin: 0px;
  padding: 0px;
  
  line-height: 1.5em;
}

/*Mudar o tamanho das letras do parágrafo*/
p 
{
  font-size: 1.3em;
}

/*Posição stiky do título 1 e preenchimento da cor do mesmo*/
h1 
{
  background-color: rgb(245, 216, 252);
  color: rgb(0, 0, 0);
  
  font-size: 2.3em;
  
  position: sticky;
  top: 0px;
  left: 0px;
}
img 
{
  float: center;
  margin: 20px;
}