body 
{
  
  background-color: rgb(246, 204, 255);
}

body 
{
  font-size: 1vw;
  line-height: 1vw;
}

h1 
{
  font-size: 3em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

nav
{
  font-size: 1em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}
p, a 
{
  font-size: 1.30em;
  line-height: 1.5em;
  
  word-spacing: 0.09em;
  text-align: left;
}
p, a 
{
  font-size: 1.30em;
  line-height: 1.25em;
  
  word-spacing: 0.09em;
  text-align: left;
}
h3
{
  font-size: 2em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}
h2
{
  font-size: 2em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}
a
{
  font-size: 2em;
  line-height: 2em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
figcaption 
{
  font-size: 1.25em;
  line-height: 0em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
figure 
{
  width: 30%;
  
  float: left;
  
  margin-top: 0px;
  margin-left: 0px;
}
figure img 
{
  background-color: lightblue;
  width: 100%;
}
figcaption 
{
  text-align: center
}
{
  margin: 0px;
  padding: 0px;
  
  line-height: 1.5em;
}
p 
{
  font-size: 1.3em;
}
h1 
{
  background-color: rgb(246, 204, 255);
  color: rgb(0, 0, 0);
  
  font-size: 2.3em;
  
  position: sticky;
  top: 0px;
  left: 0px;
}
img 
{
  float: center;
  margin: 30px;
}