/*Ana Joana Agostinho Foria 3210186
Escola Superior de Artes e Design/Politécnico de Leiria
3º ano DGM
2023-2024/ 2º Semestre
Laboratório de Projeto II
Professor Marco Heleno*/

/*Mudança da cor do fundo*/
body 
{
  
  background-color: rgb(245, 216, 252);
}

/*Mudar o tamanho e o espaçamento das letras*/
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/* Mudar o tamanho e o espaçamento do Título 1*/
h1
{
  font-size: 2.5em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: center;
}
body 
{
  font-size: 1vw;
  line-height: 1vw;
}

/*Mudar o tamanho o espaçamento e a orientação do texto da nav*/
nav
{
  font-size: 1.8em;
  line-height: 1.8em;
  
  text-transform: none;
  letter-spacing: 0.1em;
  
  text-align: center;
}

/* Mudar o tamanho e o espaçamento do Título 2*/
h2
{
  font-size: 2em;
  line-height: 1em;
  
  text-transform: none;
  letter-spacing: 0em;
  
  text-align: left;
}

/* Mudar o tamanho e o espaçamento do parágrafo*/
p
{
  font-size: 1.50em;
  line-height: 1.25em;
  
  word-spacing: 0.09em;
  text-align: left;
}

/*Mudar o tamanho do vídeo*/
video
{
    width: 100%;
    height: 50%;
}

/*Posição stiky do título 1 e preenchimento da cor do mesmo*/
h1 
{
  background-color: rgb(245, 216, 252);
  color: rgb(0, 0, 0);
  
  font-size: 2.5em;
  
  position: sticky;
  top: 0px;
  left: 0px;
}